*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial ;
    font-size: 12px;
}
ul{
    list-style: none ;
}
a{
    text-decoration: none ;
}
.wrapper {
    width: 1230px;
    margin: 0 auto  ;
    /*background: #ff0000;*/
    /*可以加一个背景色，便于观察*/
}
/*nav开始*/
.nav {
    height: 33px;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
}
.nav-box{
    height: 32px;
    line-height: 32px;
    color: #999999;
}
.nav-login{
    float:left;
}
.nav-login a,.nav-login span{
    float:left;
    /*去掉小空格*/
}
.nav-login a{
    padding: 0 10px 0 10px;
    color: #999999;
}
.nav-login a:hover{
    color: #ff0036;
}
.nav-login .login-btn {
    padding-left: 20px;
 }
.nav-menu{
    float: right;
}
.nav-menu>li{
    float:left;
    /*遇到内含多个元素的复杂情况应选择亲子代，即用>而不能选用空格*/
}
.nav-link{
    color: #999999;
    display: block;
    padding:0 14px 0 10px ;
}
.sn-menu {
    position: relative; 
}
.sn-menu:hover {
    background: #ffffff;
    height: 33px;
}
.sn-menu:hover .sub-sn-menu {
    display: block;
}
.sn-menu a:hover {
    color: #ff0036;
    text-decoration: underline ;
}
.sn-menu:hover::after {
    transform: rotate(180deg ) ;
    /*top: 13px;*/
}
.sn-menu::after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-width: 3px ;
    border-style: solid ;
    border-color:#999999 transparent transparent transparent;
    position: absolute;
    right: 6px;
    top: 16px;
    transition: all 0.1s linear ;
    transform-origin: 3px 1.5px;
}
.sub-sn-menu {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 10px 8px;
    position: absolute;
    left:-1px;
    top: 33px;
    width: 74px;
    display: none;
}
.sub-menu-item {
    height: 18px;
    line-height: 18px;
}
.sub-menu-item a {
    color: #999999;
}
/*nav结束*/